<div class="footer">
    <div style="text-align: center;">
        <img src="/assets/images/dx1.gif">
    </div>
    <div>Web page design, images and content © 2024 by Anwar.  All Rights Reserved.</div>
    <img src="http://anwar.ink:8888/images/2024/09/30/12588788587e48059fdaf87d6e0b9293.png" style="width: 16px; height: 16px;">
    <a href="https://beian.mps.gov.cn/#/query/webSearch?code=11011302007335" rel="noreferrer" target="_blank">京公网安备11011302007335</a>&nbsp;&nbsp;
    <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备2024088855号-1</a>
</div>