.main_wrap{
    
    height: 100%;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    display: flex;
    flex-direction: column;
    gap: 27px;
    font-family: '', 'Times New Roman', serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 54px;
}

.header a{
    text-decoration: none;
    color: red;
}

.header div{
    display: flex;
    align-items: center;
    gap: 8px;
}


.profile
{
    display: flex;
}

.profile div{
    font-size: 24px;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.profile .skills{
    align-items: end;
}

.info{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.info .computer,
.info .others{
    border: 4px;
    border-style: inset;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
}

.footer{
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: black;
}

.tag_intro{
    text-align: center;
}

.tag_intro h1{
    color: orange;
    font-size: 36px;
}

.tag_intro div{
    font-size: 24px;
    line-height: 36px;
}

.buy_coffee{
    text-align: center;
}