---
layout: default
---
<h1 class="blog_header">{{ page.title }}</h1>

<div class="blog_para">
  {{ page.date | date_to_string }}
  <!-- {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %} -->
</div>

<div class="blog_content">
  {{content | markdownify}}
</div>

<div class="buy_coffee">
  <a href="https://buymeacoffee.com/lovelinux">
    <img src="/assets/images/bmc-button.svg" style="max-width: 15%;" alt="buy me a coffee">
  </a>
</div>