---
layout: default
---
{% if page.name == 'others' %}
  <div class="tag_intro">
    {{ content }}
  </div>
{% endif %}


<div style="text-align: left;">
  {% assign filtered_posts = site.posts | where: 'tag', page.name %}
  {% for post in filtered_posts %}
    <div>
        <a  style="color: orange; text-decoration: underline; font-size: 24px;" href="{{ post.url }}">{{ post.title }}</a>
    </div>
    {% assign first_paragraph = post.content | markdownify | split: '<blockquote>' %}
    {% assign second_paragraph = first_paragraph[1] | markdownify | split: '</p>' %}
    <div style="font-size: 24px; line-height: 36px; text-align: justify;">
      {{ second_paragraph[0]}}
    </div>
      <!-- {{ post.content | markdownify }} -->
  {% endfor %}
</div>